@model MainProject.Models.User

@{
}
<style>

    .line1 {
        clear: both;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 100%;
        height: 2px;
        background-color: #E3E9E9
    }
</style>

<div class="text-center" style="padding-left:20%;padding-right:20%">
    <form method="post">
        <div class="card mt-5" style="background-color:lightblue;padding:30px">
            <div class="mt-1 mb-3 text-center" style="background-color:lightskyblue">
                <h3 class="mt-3 mb-3">Sign In</h3>
            </div>
            <div class="text-center">
                <input type="button" value="Facebook" class="form-control text-center text-white" style="background-color:royalblue" />
            </div>
            <div class="mt-1 text-center">
                <input type="button" value="Google" class="form-control text-center text-white " style="background-color:indianred;" />
            </div>
            <div class="mt-3 mb-3 text-center">
                OR
            </div>
            <div class="text-center">
                <input asp-for="Email" placeholder="Username" name="uname" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-1 text-center">
                <input type="password" asp-for="Password" placeholder="Password" name="pass" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-3 text-left">
                @ViewBag.msg
            </div>
            <div class="mt-2 text-center">
                <input type="submit" value="Sign in" class="form-control btn btn-success" />
            </div>
            <div class="mt-3 text-left">
                <a href="">Forgot your Password?</a>
            </div>
            <div class="line1"></div>
            <div class="mt-3 text-center">
                <a asp-action="Register" class="form-control btn btn-dark">Register as a new user</a>
            </div>
        </div>
    </form>
</div>

