

@{
}
<div class="text-center">
    <h1 class="font-weight-bold mt-4">Your Order has been placed...</h1>
    <h4 class="mt-1">Thank you for using our website!</h4>
    <a asp-action="User_home" class="btn btn-success mt-4">Back to home</a>
</div>
